body {
	color: inherit;
	background: #fcfcfc;
	margin:1em auto;
	max-width:50em;
	padding:0 .62em;
	font:1.2em/1.2 sans-serif;
}
html {
    color: #323232;
}
a:link, a:visited {
	color: #a60000;
}

.navbar a {
    border-radius: 2px;
    max-width: 800px;
}

.navbar a {
    color: #a60000;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
}
